---
layout: default
---

<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">
    {{ page.title }}
</h1>

<div class="d-print-none d-md-block d-lg-none">
    {% include components/post-meta.html %}
</div>

<div class="d-print-none d-flex align-items-center mb-2">
    <span class="icon grey mr-2 mb-1">
        {% include entypo/price-tag.svg %}
    </span>
    <div>
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}{% link list/posts.html %}#{{ tag | slugify }}"
            class="d-inline-block border rounded p-1 mr-1 mb-1 tag tag-{{ tag | slugify}}">
            {{ tag }}
        </a>
        {% endfor %}
    </div>
</div>

{% if page.prev_post or page.next_post %}
{% include components/post-prev-and-next.html %}
{% endif %}

{{ content }}

{% if page.prev_post or page.next_post %}
{% include components/post-prev-and-next.html %}
{% endif %}

{% if page.comments_id %}
{% include components/comments.html %}
{% endif %}


<script type="text/javascript">
    $(document).ready(function () {
        var tpl =
            "<li class='nav-item'>\
                <a class='nav-link mb-1' href='#header[idx]'>[name]</a>\
            </li>"
        var selectors = ["h2", "h3", "h4"];
        var selector = selectors[0];
        for (selectorElem of selectors){
            if($(selectorElem).length){
                selector = selectorElem;
                break;
            }
        }
        $(selector).each(function (idx, elem) {
            $(elem).attr("id", "header" + idx)
            var name = $(elem).text().trim()
            var dom_string = tpl.replace("[name]", name).replace("[idx]", idx)
            var header = $(dom_string)
            $(".header-list").append(header)
        })
    })
</script>