<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>
        {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap-4.4.1.bundle.min.js"></script>

    {% if page.mathjax  %}
    <script type="text/javascript" async
        src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    {% endif %}

    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/theme/css/site.css" />
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/theme/css/syntax.css" />
    <link rel="stylesheet" media="print" href="{{ site.baseurl }}/theme/css/print.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/theme/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/theme/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/theme/img/favicon-16x16.png">
    <link rel="icon" href="{{ site.baseurl }}/theme/img/favicon.ico">
    <link rel="manifest" href="{{ site.baseurl }}/theme/img/site.webmanifest">
</head>