<div class="github-comments">
    <div class="d-print-none d-flex align-items-center border border-top-0 border-right-0 border-left-0 mb-3">
        <h2 class="p-0 m-0 mr-auto">Comments</h2>
        <p class="text-right leave-a-comment ml-2 mb-0 p-0">
            <small> 
                <a href="{{ site.github.url }}{{ site.github.ai_blogs_repo }}/issues/{{ page.comments_id }}" target="_blank"
                data-toggle="tooltip" data-placement="top" title="Add new comment">
                    <span class="icon primary" markdown="0">
                        {% include entypo/plus.svg %}
                    </span>
                </a>
            </small>
        </p>
    </div>
    
    <ul id="gh-comments-list" class="p-0"></ul>
    <p id="no-comments-found">Be the first one to comment on this post.</p>
    
</div>

<script type="text/javascript">
    const GH_API_URL = '{{ site.github.api_repos_url }}{{ site.github.ai_blogs_repo }}/issues/{{ page.comments_id }}/comments';

    let request = new XMLHttpRequest();
    request.open('GET', GH_API_URL, true);
    request.onload = function () {
        if (this.status >= 200 && this.status < 400) {
            let response = JSON.parse(this.response);

            for (var i = 0; i < response.length; i++) {
                document.getElementById('gh-comments-list').appendChild(createCommentEl(response[i]));
            }

            if (0 === response.length) {
                document.getElementById('no-comments-found').style.display = 'block';
            }
        } else {
            console.error(this);
        }
    };

    function createCommentEl(response) {
        let user = document.createElement('a');
        user.setAttribute('href', response.user.url.replace('api.github.com/users', 'github.com'));
        user.setAttribute('target', '_blank');
        user.classList.add('user');

        let userAvatar = document.createElement('img');
        userAvatar.classList.add('avatar');
        userAvatar.setAttribute('src', response.user.avatar_url);

        user.appendChild(userAvatar);

        let commentLink = document.createElement('a');
        commentLink.setAttribute('href', response.html_url);
        commentLink.setAttribute('target', '_blank');
        commentLink.classList.add('comment-url');
        commentLink.innerHTML = '#' + response.id + ' - ' + response.created_at;

        let commentContents = document.createElement('div');
        commentContents.classList.add('comment-content');
        commentContents.innerHTML = response.body;

        let comment = document.createElement('li');
        comment.setAttribute('class', 'pl-2 pr-2 mb-2 border border-light rounded')
        comment.setAttribute('data-created', response.created_at);
        comment.setAttribute('data-author-avatar', response.user.avatar_url);
        comment.setAttribute('data-user-url', response.user.url);

        comment.appendChild(user);
        comment.appendChild(commentContents);
        comment.appendChild(commentLink);

        return comment;
    }
    request.send();
</script>