<div class="sticky-top space-before">
    <div class="card text-light bg-dark mb-3">
        <div class="card-header d-flex">
            {{ page.date | date_to_string }}

        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap align-items-center">
            </div>
            <div class="card-title text-muted">
                <h5>On This Page</h5>
            </div>
            <ul class="nav flex-column nav-pills header-list">
            </ul>
        </div>
        <div class="card-footer d-flex align-items-center">
            <span class="icon grey mr-1">
                {% include entypo/arrow-left.svg %}
            </span>
            <a href="{{ site.baseurl }}{% link list/posts.html %}">Back to all posts</a>
        </div>
    </div>
</div>