// variables
// Customise bootstrap here, and set site-wide variables. Refer to
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// for things to override.

// Set the primarys colour to green.
$green: #28a745 !default;
$primary: $green !default;

$body-color: #ced4da;
$nav-link-color: #ced4da;

$code-color: #3498db;

$table-border-color: #888;

// Fonts
$web-font-path: "https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap";
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
